* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: inherit;
    text-decoration: none;
}
.body {
    font-family: Lato;
    color: #424551;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.container {
    width: 1230px;
    margin: 0 auto;
}
.wide-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
.top-bar_background {
    background: #1E212C;
}
.top-bar {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    opacity: 0.6;
}
.contacts {
    font-weight: 900;
    padding: 12px 0;
    margin-right: 225px;
}
.menu-secondary {
    display: flex;
    list-style-type: none;
    gap: 32px;
    padding: 13px 0;
    margin-right: 195px;
}
.menu-secondary__link {
}
.lang-currency {
    margin-right: 60px;
    padding: 13px 0;
}
.language {

}
.account {
    padding: 13px 0;
    display: flex;
}
.login {

}
.Profile {

}

.logo-bar {
    display: flex;
    align-items: center;
}
.logo {
    padding: 33px 0;
    margin-right: 70px;
 }
.menu {
    display: flex;
    list-style-type: none;
    gap: 40px;
    margin-right: 129px;
}
.menu__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #424551;
}
.search {
    margin-right: 45px;
}

.search-form {
    position: relative;
    width: 380px;
    margin: 0 auto;
}
.search-text .magnifier {
    border: none;
    outline: none;
    border-radius: 4px;
}
.search-text {
    width: 100%;
    height: 44px;
    background: #FFFFFF;
    padding: 0 25px 0 15px;
    border: 1px solid #D7DADD;
}
.magnifier {
    height: 26px;
    width: 26px;
    position: absolute;
    top: 8px;
    right: 8px;
    background: #FFFFFF;
    cursor: pointer;
}
.magnifier:before {
    content: "\f002";
    font-family: FontAwesome;
    color: #424551;
    font-weight: normal;
}
.toolbar {
    display: flex;
    align-items: center;
    gap: 20px;
}
.wishlist {
    display: flex;
    gap: 10px;
    align-items: center;
}
hr {
    width: 22px;
    height: 1px;
    transform: rotate(90deg);
}
.carousel {
    background: #17696A;
    text-align: center;
}
.inner-text {
    font-weight: 900;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 8px 0;
}
.inner-text span {
    font-weight: 400;
    text-decoration: underline;
}
.main {
}
.hero-slider {
    background-image: url("../img/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
.new-collection {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    padding-top: 140px;
    margin-bottom: 12px;
}
.menswear {
    font-weight: 900;
    font-size: 72px;
    line-height: 94px;
    margin-bottom: 60px;

}
.button {
    border-radius: 4px;
    padding: 0 40px;
    border: 1px solid #17696A;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
    cursor: pointer;
}
.button_outline {
    background: transparent;
    color: #17696A;
}
.button_solid {
    background: #17696A;
    color: #FFFFFF;
}
.top-categories {
    display: flex;
    gap: 30px;
    margin-top: -60px;
    margin-bottom: 82px;
}
.top-categories-image {
    text-align: center;
}
.top-img {
    width: 390px;
    height: 390px;
    margin-bottom: 16px;
}
.text {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}
.new-arrivals {
    margin-bottom: 278px;
}
.new-arrivals-center {
    text-align: center;
}

.category-title {
    font-weight: 900;
    font-size: 46px;
    line-height: 59px;
    margin-bottom: 60px;
}
.new-arrivals-text {
    margin-bottom: 24px;
}
.new-arrivals-text-collection {
    font-size: 18px;
    line-height: 27px;
}
.new-arrivals-text-collection_green {
    margin-bottom: 60px;
    text-decoration: underline;
    color: #17696A;
}
.product-row {
    display: flex;
    gap: 25px;
    justify-content: center;
}
.img-card {
    margin-bottom: 16px;
}
.product-item {
    position: relative;
    width: 390px;
    height: 645px;
}
.product-item_small {
    width: 285px;
    height: 413px;
}
.product-item__img {
    display: block;
    width: 100%;
    object-fit: cover;
}
.product-item__img-wrap {
    position: relative;
    margin-bottom: 16px;
    height: 440px;
    display: flex;
}
.product-item__img_small-wrap {
    position: relative;
    margin-bottom: 16px;
    height: 320px;
    display: flex;
}
.product-item__name {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 8px;
}
.product-item__price {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}
.banners {
    display: flex;
    gap: 14px;
    margin-bottom: 180px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.banner {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
}
.banner1 {
    background-image: url("../img/banner1.png");
    flex-basis: 40%;
}
.banner2 {
    background-image: url("../img/banner2.png");
    flex-basis: 59%;
}
.banner3 {
    background-image: url("../img/banner3.png");
    flex-basis: 56%;
}
.banner4 {
    background-image: url("../img/banner4.png");
    flex-basis: 43%;
}
.banner-text {
    font-weight: 700;
    margin-bottom: 12px;
    color: #1E212C;
}
.banner-heading {
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 32px;
    line-height: 42px;
    color: #1E212C;
    width: 320px;
}
.banner-button {
    line-height: 44px;
    padding: 0 32px;
    background: transparent;
    color: #17696A;
    margin-bottom: 80px;
}
.banner-heading-label {
    margin-bottom: 32px;
}
.label {
    margin-bottom: 8px;
}
.label-text {
    padding: 12px 97px 12px 16px;
    background: #FFFFFF;
    border: 1px solid #D7DADD;
    border-radius: 4px 0 0 4px;
}
.subscribe-button {
    color: #FFFFFF;
    background: #17696A;
    font-weight: 700;
    line-height: 40px;
    padding: 0 32px;
    border-radius: 0 4px 4px 0;
    border: none;
}
.countdown {
    display: flex;
    gap: 24px;
}
.days {
    text-align: center;
}
.time {
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    color: #1E212C;
}
.categories {
    text-align: center;
    margin-bottom: 180px;
}
.category-popular {
    display: flex;
    gap: 30px;
}
.category-card__img {
    margin-bottom: 24px;
}
.category-card__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}
.trending-now-card {
    display: flex;
    gap: 30px;
    padding-bottom: 12px;
}
.trending-now {
    background: #E5E8ED;
    padding: 80px 0;
}
.star-rating {
    position: absolute;
    top: 15px;
    right: 15px;
}
.star-rating__wrap {
    display: flex;
}
.heart {
    position: absolute;
    bottom: 15px;
    right: 15px;
    border-radius: 50%;
    background: #FFFFFF;
}
.product-item__info {
    padding: 0 16px 16px;
}
.product-item__info_active {
    /*display: none;*/
    box-shadow: 0 16px 16px -10px #1E212C26;
    background: #FFFFFF;
}
.product-selection {
    display: flex;
    gap: 120px;
    align-items: center;
    margin-bottom: 20px;
}
.size {
    display: flex;
    gap: 8px;
}
.color {
    display: flex;
    gap: 8px;
}
.size__button {
    width: 24px;
    height: 24px;
    border: 1px solid #D7DADD;
    border-radius: 4px;
    background: #FFFFFF;
}
.color__button {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #D7DADD;
    box-shadow: inset 0 0 0 4px white;
}
.color__button_active {
    border: 1px solid #17696A;
}
.button_add {
    font-size: 14px;
    line-height: 44px;
    width: 100%;
    background: #17696A;
    color: #FFFFFF;
}
.btn {
    text-align: center;
}
.sale {
    padding: 100px 0;
}
.sale-card {
    display: flex;
    gap: 30px;
    margin-bottom: 12px;
}
.cta_background {
    height: 300px;
    background: #1E212C;
    margin-bottom: -330px;
}
.cta {
    display: flex;
    gap: 165px;
}
.mobile-shopping {
    padding: 110px 0;
}
.mobile-shopping__text {
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
}
.mobile-shopping__application {
    display: flex;
    gap: 24px;
    padding: 24px 0;
}
.services {
    display: flex;
    padding: 120px 0 180px;
    justify-content: space-between;
}
.icon-box {
    text-align: center;
    padding: 0 45px;
    border-right: 1px solid;
    /*border-image: linear-gradient(*/
    /*        to bottom,*/
    /*        rgba(218, 219, 221, 1),*/
    /*        rgba(0, 0, 0, 0)*/
    /*) 1;*/
    border-image: linear-gradient(0deg, rgba(218,219,221,0) 0%, rgba(218,219,221,0.5) 25%, rgba(218,219,221,1) 50%, rgba(218,219,221,0.5) 75%, rgba(218,219,221,0) 100%);;
    border-image-slice: 1;
}
.services .icon-box:first-child {
    padding-left: 0;
}
.services .icon-box:last-child {
    padding-right: 0;
    border-right: none;
}
.icon-box__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin: 24px 0 8px;
}
.icon-box__text_small {
    font-size: 16px;
    color: #787A80;
    line-height: 160%;
}
.instagram {
    display: flex;
    gap: 15px;
    margin-bottom: 180px;
}
.instagram__text {
    margin-right: 80px;
}
.instagram__text_small {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.instagram__button {
    display: flex;
    gap: 8px;
    align-items: center;
    background: transparent;
}
.instagram__button span {
    color: #17696A;
    font-size: 14px;
}
.fashion-blog {
    margin-bottom: 120px;
}
.fashion-blog__title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.banner-button_fashion {
    font-size: 14px;
}
.blog {
    display: flex;
    gap: 30px;
}
.blog__card__text {
    padding: 24px 24px 21px;
    box-shadow: 0 80px 80px -20px #1E212C26;
}
.blog__card__text .icon-box__text {
    margin: 0 0 12px;
}
.meta {
    display: flex;
    color: #787A80;
    margin-bottom: 16px;
    align-items: center;
}
.meta p {
    padding: 0 12px;
    border-right: 1px solid #787A80;
}
.meta p:first-child {
    padding-left: 0;
}
.meta p:last-child {
    padding: 0;
    border-right: none;
}
.comment {
    display: flex;
    gap: 8px;
    margin-left: 12px;
    align-items: center;
}
.icon-box__text_green {
    color: #17696A;
}

.brand-logo {
    margin-bottom: 120px;
}
.brand-logo_bar {
    display: flex;
    gap: 100px;
    justify-content: space-between;
}
.subscribe {
    background: rgba(244, 245, 246, 1);
    padding: 65px 0;
}
.subscribe__box {
    display: flex;
    gap: 274px;
    align-items: center;
}
.checkboxes {
    display: flex;
    gap: 12px;
    margin-bottom: 32px;
}
.button_small {
    font-size: 14px;
    padding: 0 16px;
    line-height: 30px;
    color: #787A80;
    background: transparent;
    border: 1px solid #D7DADD;

}
.subscribe__label-text {
    font-size: 16px;
    line-height: 25px;
}
.subscribe__subscribe-button {
    font-size: 16px;
    line-height: 50px;
}
.subscribe .category-title {
    margin-bottom: 24px;
}
.subscribe .text {
    font-weight: 400;
    color: #787A80;
    margin-bottom: 32px;
}
.email {
    margin-bottom: 20px;
}
.footer {
    background: #1E212C;
    padding: 60px 0 32px;
}
.footer__box {
    display: flex;
    gap: 151px;
    margin-bottom: 60px;
}
.footer-menu {
    list-style-type: none;
    color: #FFFFFF;
}
.footer-menu li:first-child {
    margin-bottom: 12px;
    text-transform: uppercase;
}
.footer-menu .menu__link {
    color: #FFFFFF;
}
.footer-menu span {
    color: #FFFFFF;
}
.socilas {
    padding: 24px 0;
    display: flex;
    gap: 12px;
}
.copyright {
    padding: 24px 0 0;
    border-top: 1px solid #FFFFFF;
}
.copyright__box {
    display: flex;
    justify-content: space-between;
}
.copyright__text {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 18px;
}














