* {
    margin: 0;
    padding: 0;
}
.body {
    font-family: Lato;
    color: #424551;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.container {
    width: 1230px;
    margin: 0 auto;
}
/*.wrapper {*/
/*    width: 1860px;*/
/*    margin: 0 auto;*/
/*}*/
.top-bar_background {
    background: #1E212C;
}
.top-bar {
    display: flex;
    align-items: center;
}
.contacts {
    font-weight: 900;
    color: #FFFFFF;
    opacity: 0.6;
    padding: 12px 0;
    margin-right: 225px;
}
.menu-secondary {
    display: flex;
    list-style-type: none;
    gap: 32px;
    padding: 13px 0;
    margin-right: 195px;
}
.menu-secondary__link {
    text-decoration: none;
    color: #FFFFFF;
    opacity: 0.6;
}
.lang-currency {
    margin-right: 60px;
    padding: 13px 0;
}
.language {

}
.account {
    padding: 13px 0;
    display: flex;
}
.login {
    color: #FFFFFF;
    opacity: 0.6;
    text-decoration: none;
}
.Profile {
    color: #FFFFFF;
    opacity: 0.6;
}

.logo-bar {
    display: flex;
    align-items: center;
}
.logo {
    padding: 33px 0;
    margin-right: 70px;
 }
.menu {
    display: flex;
    list-style-type: none;
    gap: 40px;
    margin-right: 129px;
}
.menu__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 25.6px;
    color: #424551;
}
.search {
    margin-right: 45px;
}
* {box-sizing: border-box;}
.search-form {
    position: relative;
    width: 380px;
    margin: 0 auto;
}
.search-text, .button {
    border: none;
    outline: none;
    border-radius: 4px;
}
.search-text {
    width: 100%;
    height: 44px;
    background: #FFFFFF;
    padding-left: 15px;
    border: 1px solid #D7DADD;
}
.button {
    height: 26px;
    width: 26px;
    position: absolute;
    top: 8px;
    right: 8px;
    background: #FFFFFF;
    cursor: pointer;
}
.button:before {
    content: "\f002";
    font-family: FontAwesome;
    color: #424551;
    font-weight: normal;
}
.toolbar {
    display: flex;
    align-items: center;
    gap: 20px;
}
.wishlist {
    display: flex;
    gap: 10px;
    align-items: center;
}
hr {
    width: 22px;
    height: 1px;
    transform: rotate(90deg);
}
.carousel {
    background: #17696A;
    text-align: center;
}
.inner-text {
    font-weight: 900;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 8px 0;
}
.inner-text span {
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}
.main {

}
.hero-slider {
    background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}
.new-collection {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    padding-top: 140px;
    margin-bottom: 12px;
}
.menswear {
    font-weight: 900;
    font-size: 72px;
    line-height: 94px;
    margin-bottom: 60px;

}
.buttons {
    border-radius: 4px;
    padding: 0 40px;
    border: 1px solid #17696A;
    font-weight: 700;
    font-size: 16px;
    line-height: 52px;
}
.buttons_outline {
    background: transparent;
    color: #17696A;
}
.buttons_solid {
    background: #17696A;
    color: #FFFFFF;
}
.top-categories {
    display: flex;
    gap: 30px;
    margin-top: -60px;
    margin-bottom: 82px;
}
.top-categories-image {
    text-align: center;
}
.text {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}
.new-arrivals {
    text-align: center;
}
.new-arrivals-text {
    font-weight: 900;
    font-size: 46px;
    line-height: 59px;
    margin-bottom: 24px;
}
.new-arrivals-text-collection {
    font-size: 18px;
    line-height: 27px;
}
.new-arrivals-text-collection_green {
    margin-bottom: 60px;
    text-decoration: underline;
    color: #17696A;
}
.new-arrivals-carousel {
    display: flex;
    gap: 30px;
}
.product-name {
    font-size: 18px;
    line-height: 27px;
}
.price {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}









